[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
arena_match = "45A9Qb4YVeWwL35aBCTcT4bcfsgcFUW3GUHAbvhNJJGi"

[programs.devnet]
arena_match = "45A9Qb4YVeWwL35aBCTcT4bcfsgcFUW3GUHAbvhNJJGi"

[programs.mainnet]
arena_match = "45A9Qb4YVeWwL35aBCTcT4bcfsgcFUW3GUHAbvhNJJGi"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/*.ts"
